{% extends 'base.html' %}

{% block title %}Browse {{ class_name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">{{ class_name }} Products</h1>
    <ul class="list-group mt-4">
        {% for product in products %}
            <li class="list-group-item">
                <h5>{{ product['Clothes Title'] }}</h5>
                <p>{{ product['Clothes Description'] }}</p>
                <p><strong>Rating:</strong> {{ product['Rating'] }}/5</p>
                <a href="{{ url_for('main.product_detail', product_id=product['Clothing ID']) }}" class="btn btn-primary">View Details</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
