{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="display-3 mb-4">NLP Web-based Data Application</h1>

    <form class="w-50 mb-4" action="{{ url_for('main.search') }}" method="GET">
        <div class="input-group">
            <input 
                type="text" 
                class="form-control form-control-lg rounded-pill" 
                placeholder="Search..." 
                name="query"
                required
                id="search-bar"
            >
            <button class="btn btn-outline-light rounded-pill ms-2" type="submit">Search</button>
        </div>
    </form>

    <div class="mt-3">
        <a href="{{ url_for('main.categories') }}" class="btn btn-primary btn-lg rounded-pill">
            Browse by Categories
        </a>        
    </div>
</div>
{% endblock %}
